/* We typically use one CSS file, named main.css to control all of our pages */

/* this is a class we use to hide headings in our design */
.hidden {
    display: none;
}

#container {
    margin: 20px auto;
    width: 428px;
    border: solid 1px #333;
    border-radius: 10px;
    background-color: white;
}

#main-content {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-column-gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

article {
    grid-column: 1/-1;
}

body {
    font-family: 'Ubuntu', sans-serif, arial;
    font-size: 20px;
    font-weight: 400px;
}

p {
    line-height: 35px;
    color: black;
}

.logo {
    width: 388px;
    align-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.qu3nch {
    font-family: 'Anton', sans-serif;
    color: rgb(243, 114, 35);
}

.image {
    width: 388px;
}